YOINK_BOT_TOKEN=
YOINK_LOG_LEVEL=INFO
YOINK_LOG_FORMAT=json
YOINK_WORKERS=4
YOINK_QUEUE_MAXSIZE=64
YOINK_DOWNLOAD_TIMEOUT_S=90
YOINK_MAX_FILE_MB=50
YOINK_RATE_PER_CHAT_PER_MIN=10
YOINK_ALLOWLIST_MODE=false
YOINK_ADMIN_IDS=
YOINK_CACHE_DB=/data/yoink.sqlite
YOINK_WORKDIR=/tmp/yoink
YOINK_IG_COOKIES_FILE=
